.capsule {
    background-color: #FAF9F6;
    border: 3px ridge #00CCCC;
    border-radius: 10px;
    margin: 1.5rem 0;
    padding: 20px;
}

.capsule p {
    font-size: 1rem;
    color: #030003;
    text-align: center;
}

.CapsuleSpan {
    color: #808000;
    font-weight: 600;
}

.polaroid {
    background-color: #ffffff;
    box-shadow: 2px 1px 10px 2px lightgrey;
    padding: 10px;
    padding-bottom: 50px;
}

.filmstrip {
    --background: rgba(0, 0, 0, .85);
    --size: 10px;
    background-image:
      linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
    background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
    background-repeat: repeat-x;
    background-position: 0 var(--size), top left, 0 calc(100% - var(--size)), bottom left, 0 var(--size);
    box-shadow: 2px 1px 10px 2px grey;
    padding: calc(var(--size) * 3) calc(var(--size) * 2.5);
    box-sizing: border-box;
  }

.brandName {
    background: linear-gradient(90deg, hsla(216, 99%, 56%, 1) 0%, hsla(350, 76%, 62%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.2rem;
    font-weight: 600;
}