.Container {
  margin-top: 110px;
  min-height: 343px;
}

.CapsuleForm {
  background-color: var(--white-color);
  border: 3px ridge var(--light-cyan);
  border-radius: 10px;
  color: var(--primary-text-color);
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.Input {
  background: transparent;
  border: 2px ridge #d0fffe;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}
  
.Image {
  max-height: 15vh;
  max-width: 100%;
  object-fit: contain;
  margin: 2px 5px;
}
  
.ImageUpload:hover {
  cursor: pointer;
}

.generatedMessage {
  border: 2px ridge var(--light-cyan);
  border-radius: 10px;
  padding: 1rem;
}
  