
.capsule {
    background-color: #778899;
    border: 3px ridge #00CCCC;
    border-radius: 5px;
    padding: 20px;
}

.capsule p {
    font-size: 1rem;
    color: #030011;
}

.capsulePage {
    padding: 2rem;
}
