.CommentsSection {
    margin-top: 2rem;
}
  
.CommentsSection ul {
    list-style-type: none;
    padding: 0;
}
  
.CommentsSection li {
    list-style-type: none;
    margin-bottom: 1rem;
}
  
.CommentsSection form {
    margin-top: 1rem;
}
  
.CommentsSection textarea {
    background: var(--white-color);
    border: 1px ridge var(--light-cyan);
    border-radius: 10px;
    color: var(--primary-text-color);
    height: 100px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.CommentsSection textarea:focus {
    outline: none;
}

.ErrorMessage {
    color: var(--error-color);
}
