.Input {
  background: transparent;
  border: 2px ridge #d0fffe;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}
  
.Header {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link:hover {
  color: #847c3d;
}

.Link span {
  color: #847c3d;
  font-weight: 500;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.FormLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  padding-left: 3px;
  padding-top: 10px;
}

.Checkbox {
  font-size: 12px;
  line-height: 18px;
  padding-top: 10px;
}

.Checkbox > input {
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--light-cyan);
}

.Checkbox > label {
  padding-left: 5px;
  padding-top: 2.5px;
}

.Checkbox > input:checked {
  background-color: rgba(77, 103, 101, 1);
  border-color: rgba(77, 103, 101, 1);
}

.ErrorMessage {
  color: rgb(201, 0, 0);
  font-size: 0.8rem;
  padding: 2px;
  background-color: rgba(250, 249, 246, 0.5);
  border-radius: 10px;
}