.logoImg {
    border: 3px ridge #00cccc;
    border-radius: 15px;
    margin: 0 auto;
    width: 260px;
}

.brandName {
    background: linear-gradient(90deg, hsla(216, 99%, 56%, 1) 0%, hsla(350, 76%, 62%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

section {
    padding-top: 1rem;
    text-align: justify;
}

p {
    color: #030011;
}