.logoImg {
    border: 3px ridge var(--light-cyan);
    border-radius: 15px;
    margin: 0 auto;
    width: 260px;
}

.brandName {
    background: linear-gradient(90deg, hsl(216, 99%, 56%) 0%, hsla(350, 76%, 62%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

section {
    padding-top: 1rem;
    text-align: justify;
}

p {
    color: var(--primary-text-color);
}