.DropdownMenu {
  background-color: var(--white-color);
  border: 2px ridge var(--light-cyan);
  margin-left: auto;
}

.DropdownItem {
  color: var(--primary-text-color);
  max-width: 50%;
}

.DropdownCaret {
  color: var(--olive-green-text);
  font-size: 20px;
  margin-right: -0.5rem;
}

.ProfileIcon {
  color: var(--primary-text-color);
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.DropdownCaret {
  cursor: pointer;
}

.DangerText {
  color: var(--error-color);
}
