.DropdownMenu {
  background-color: #faf9f6;
  border: 2px ridge #00cccc;
  margin-left: auto;
}

.DropdownItem {
  color: #030011;
  max-width: 50%;
}

.DropdownCaret {
  color: #808000;
  font-size: 20px;
  margin-right: -0.5rem;
}

.ProfileIcon {
  color: #030011;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.DropdownCaret {
  cursor: pointer;
}

.DangerText {
  color: #ff5f5f;
}
