.PofileContainer {
    background: #FAF9F6;
    border: 3px ridge #00cccc;
    border-radius: 10px;
}

.card {
    border: 3px ridge #00cccc;
    border-radius: 10px;
}

.Input {
    background: transparent;
    border: 2px ridge #d0fffe;
    border-radius: 10px;
    box-sizing: border-box;
    color: #030011;
    margin-bottom: 10px;
    padding: 10px;
}

label {
    font-size: 18px;
}

.ProfileImg {
    border-radius: 10px;
}

/* Profile edit form */
.ProfileEditFormImg {
    border-radius: 10px;
}

.ProfileFormHeader {
    color: #808000;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
}

/* User capsules profile section */
.CardFooter {
    background: transparent;
    border-top: 1px solid #00cccc;
}

.BackIcon {
    color: #030011;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
  }
  
  .BackIcon:hover {
    color: #808000;
  }

/* Responsive */
@media (min-width: 767px) {
    .ProfileImg {
      width: 60%;
    }
}

@media (min-width: 992px) {
    .ProfileImg {
        margin-bottom: 1.5rem;
    }
}