.HeaderContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  min-width: 100%;
  padding-top: 550px;
}
  
.Header {
  font-size: 4.5rem;
  word-wrap: break-word;
  padding: 5px 15px 5px 90px;
}

.brandName {
  background: linear-gradient(90deg, hsla(216, 99%, 56%, 1) 0%, hsla(350, 76%, 62%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Contact Page */
.ContactPageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ContactFormCol {
  margin-bottom: 3rem;
}

.ContactPageContent {
  margin: 2rem auto;
}

/* FAQ & Terms page */
.FaqContainer,
.TermsContainer,
.PolicyContainer {
  background: #FAF9F6;
  border: 3px ridge #00cccc;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Additional media queries for landscape orientation on mobile devices */
@media (max-width: 576px) and (orientation: landscape) {
  .ContactPageContainer {
    min-height: calc(100vh - 60px);
  }

  .ContactFormCol {
    padding-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .HeaderContainer {
    padding: 0;
  }
  .Header {
    font-size: 4rem;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .Header {
    font-size: 2.5rem;
  }
}