.Row {
  height: calc(100vh - 81px);
  margin: 1rem;
}

.Input {
  background: transparent;
  border: 2px ridge #d0fffe;
  border-radius: 10px;
  box-sizing: border-box;
  color: #030003;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  width: fit-content;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #00cccc;
  font-weight: 600;
}

.Container {
  padding: 30px 10px;
}

.SignInUpForm {
  background: #FAF9F6;
  border: 3px ridge #00cccc;
  border-radius: 10px;
  max-width: 720px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.SignInUpLink {
  background-color: #faf9f6;
  padding: 10px;
  border: 2px ridge #00cccc;
  border-radius: 10px;
}

.FillerImage {
  border: 2px ridge #00cccc;
  border-radius: 10px;
  max-width: 18rem;
  height: auto;
  object-fit: cover;
}

.Alert {
  --bs-alert-color: #ff5f5f;
  --bs-alert-bg: transparent;
  --bs-alert-border-color: transparent;
  --bs-alert-link-color: #ff5f5f;
}
