.Row {
    height: calc(100vh - 81px);
    margin: 2rem;
  }
  .Input {
    background: #f5f5f5;
    border: transparent;
    box-sizing: border-box;
    color: #030003;
    text-align: center;
    padding: 10px;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }
