.App {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #030003;
  font-family: 'Exo 2', sans-serif;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  /* Define both background gradient and pattern */
  background-image: 
    url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='0.5' stroke='hsla(45, 29%, 97%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"),
    /*linear-gradient(90deg, rgba(254,245,186,1) 0%, rgba(243,205,203,1) 17%, rgba(246,198,243,1) 34%, rgba(212,178,237,1) 51%, rgba(166,218,237,1) 66%, rgba(175,250,226,1) 83%, rgba(192,245,244,1) 100%);
    */url(assets/abstract-blur-background.jpg)
}


.Main {
  padding-top: 81px;
  margin-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 100vw;
}

.Content {
  background-color: #faf9f6;
  padding: 10px;
  border: 3px ridge #00cccc;
  border-radius: 10px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  /* width: 100%; */
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #808000;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #545400;
}

h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

h1 {
  color: #808000;
  padding: 0.5rem 0;
}

h2,
h3 {
  color: #009393;
}

p {
  color: #f0f8ff;
}

input[type='file'] {
  display: none;
}

strong {
  color: #808000;
  opacity: 0.8;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f0f8ff;
}
*::-webkit-scrollbar-thumb {
  background: #99ffff;
}
*::-webkit-scrollbar-thumb:hover {
  background: #99ffff;
}

/* Cookie Banner*/

.CookieBannerContent {
  font-size: 11px;
  margin-bottom: 1rem;
  color: #f0f8ff;
}

.CookieBannerButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.CookieReset {
  background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
  border: 2px ridge #00cccc;
  border-radius: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 2px 5px;
  position: fixed;
  right: 10px;
  z-index: 900;
}

.CookieReset:hover {
  background-color: #555;
  color: #f0f8ff;
}

/* Responsive */
@media (max-width: 768px) {
  .Main {
    padding-top: 75px;
  }
}
