.App {
  background-image: url(assets/pastel-canvas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #030003;
  font-family: 'Exo 2', sans-serif;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.Main {
  padding-top: 81px;
  margin-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 100vw;
}

.Content {
  background-color: #faf9f6;
  padding: 10px;
  border: 3px ridge #00cccc;
  border-radius: 10px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  /* width: 100%; */
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #808000;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #545400;
}

h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

h1 {
  color: #808000;
  padding: 0.5rem 0;
}

h2,
h3 {
  color: #009393;
}

p {
  color: #f0f8ff;
}

input[type='file'] {
  display: none;
}

strong {
  color: #808000;
  opacity: 0.8;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f0f8ff;
}
*::-webkit-scrollbar-thumb {
  background: #99ffff;
}
*::-webkit-scrollbar-thumb:hover {
  background: #99ffff;
}

/* Cookie Banner*/

.CookieBannerContent {
  font-size: 11px;
  margin-bottom: 1rem;
  color: #f0f8ff;
}

.CookieBannerButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.CookieReset {
  background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
  border: 2px ridge #00cccc;
  border-radius: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 2px 5px;
  position: fixed;
  right: 10px;
  z-index: 900;
}

.CookieReset:hover {
  background-color: #555;
  color: #f0f8ff;
}

/* Responsive */
@media (max-width: 768px) {
  .Main {
    padding-top: 75px;
  }
}
