.App {
  background-image: url(assets/abstract-blur-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F0F8FF;
  font-family: "Exo 2", sans-serif;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.Main {
  padding-top: 81px;
  margin-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 100vw;
}

.Content {
  background-color: transparent;
  padding: 10px;
  border: 3px ridge #808000;
  border-radius: 10px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #808000;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fe5a1d;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
 
h1 {
  color: #808000;
}

h2, h3 {
  color: #009393;
}

p {
  color: #f0f8ff;
}

input[type="file"] {
  display: none;
}

strong {
  color: #808000;
  opacity: 0.8;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #F0F8FF;
}
*::-webkit-scrollbar-thumb {
  background: #99ffff;
}
*::-webkit-scrollbar-thumb:hover {
  background: #99ffff;
}

/* Cookie Banner*/

.CookieBannerContent {
  font-size: 11px;
  margin-bottom: 1rem;
  color: #F0F8FF;
}

.CookieBannerButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.CookieReset {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  border: 2px ridge #00CCCC;
  padding: 2px 5px;
  z-index: 900;
  cursor: pointer;
}

.CookieReset:hover {
  background-color: #555;
  color: #F0F8FF;
}

/* Responsive */
@media (max-width: 768px) {
  .Main {
    padding-top: 75px;
  }
}
